<link rel="stylesheet" href="/public/css/park.css">

<div class="fav-passport-container">
    {{#if favorite}}
        <button class="favorite-btn" data-postid="{{parkId}}" data-favorited="1" data-parkname="{{parkName}}">
            <img class="heart" src="/public/icon/redheart.png" alt="favorite">
        </button>
    {{else}}
        <button class="favorite-btn" data-postid="{{parkId}}" data-favorited="0" data-parkname="{{parkName}}">
            <img class="heart" src="/public/icon/heart.png" alt="favorite">
        </button>
    {{/if}}
    <div class="passport-entry">
        <input type="date" class="date-select" id="date-select">
        <button class="addpassport" data-postid="{{parkId}}">
            Add to Passport
        </button>
    </div>
</div>

{{#each parkData}}
<article class="container">
    <h1>{{this.parkName}}</h1>
    {{#if this.photos}}
    <img class="park-poster" alt="{{this.parkName}} Image" src="{{this.photos.[0].url}}">
    {{/if}}
    <h2>Description</h2>
    <p class="description">{{this.description}}</p>
    <section class="info">
        <h2>Park Info</h2>
        <dl>
            <dt>Park Code:</dt>
            <dd>{{this.parkCode}}</dd>
            <dt>Average Rating:</dt>
            <dd>{{this.averageRating}}</dd>
            <dt>Location:</dt>
            <dd>{{this.state}}</dd>
            <dt>Address:</dt>
            <dd>{{this.address.[0].line1}}, {{this.address.[0].city}}</dd>
            <dt>Operating Times:</dt>
            <dd>{{this.operatingTime.[0].description}}</dd>
            <dt>Activities:</dt>
            <dd>
                {{#each this.activities}}
                {{this.name}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </dd>
        </dl>
    </section>
    <section class="ratings">
        <h3 class="rating">User Reviews</h3>
        {{#if this.reviews}}
        <div class="review-table">
            {{#each this.reviews}}
                <div class="review-element">
                    <a class='reviewLink' href="/review/{{this._id}}">
                        {{#if this.photos}}
                            <img class="parkReviewImage" alt="Photo of Park" onerror="this.onerror=null;this.src='/public/icon/no-image.png';" src="/public{{this.photos.[0]}}"><br>
                        {{else}}
                            <p class="review-content">{{this.content}}</p>
                        {{/if}}
                        <p class="review-title">{{this.title}}</p>
                        <p class="review-user">{{this.userName}}</p>
                        <img class="heart" src="/public/icon/redheart.png" alt="like">
                        <label>{{this.likes}}</label>
                    </a>
                    {{!-- <a class='reviewLink' href="/review/{{this.userId}}">{{this.userName}}</a> --}}
                    {{!-- <p>User : {{this.userName}}</p>
                    <p>Review Date : {{this.reviewDate}}</p>
                    <p>Rating : {{this.rating}} stars</p>
                    <p>Content :</p>
                    <p>{{this.content}}</p> --}}
                </div>        
            {{/each}}
        </div>

        {{else}}
        <p>No reviews yet.</p>
        {{/if}}
        <a class="addReviewBtn" href="/addReview/{{../parkId}}">Add a Review</a>
    </section>
</article>
{{/each}}
<a class="search-other" href="/">Search for Another Park</a>
