<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/login.css">

<div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
<div>
    <h1 class="login">{{title}}</h1>
    <form id="registration-form" action="/auth/register" method="POST">
        <lable for="userName">Username:</lable>
        <input type="text" name="userName" id="userName" value={{userName}}>

        <br>
        <lable for="email">Email Address:</lable>
        <input type="email" name="email" id="email" value={{email}}>

        <br>
        <lable for="password">Password:</lable>
        <input type="password" name="password" id="password" value={{password}}>

        <br>
        <lable for="Confirm Password">Confirm Password:</lable>
        <input type="password" name="confirmPassword" id="confirmPassword" value={{confirmPassword}}>

        <br>
        <lable for="dob">Date of Birth:</lable>
        <input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}"
            required value={{dateOfBirth}}>

        <br>
        <lable for="bio">Enter your bio:</lable>
        <input type="text" name="bio" id="bio" value={{bio}}>

        <input type="submit" value="Register">
    </form>
    <a class="login-a" href="/auth/login">Already have an account? Click here to log-in!</a>
</div>