<link rel="stylesheet" href="/public/css/review.css">
{{#if hasErrors}}
<p class=" not-found">
  {{errors}}
</p>
{{/if}}

<article class="container">
    <h1>{{title}}</h1>
    <div class="username-container">
        <img class="user-icon" alt="user" src="/public/icon/user.png">
        <p class="review-username">{{userName}}</p>
    </div>
    {{#if photos}} 
        <div id="hasSlides" class="slideshow-container">
            {{#each photos}}
            <div class="mySlides fade">
                <img class="parkReviewImage" alt="Photo of Park" onerror="this.onerror=null;this.src='/public/icon/no-image.png';" src="/public{{this}}">
            </div>
            {{/each}}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    {{/if}}
    <p class="review-content">{{content}}</p>
    <div class="date-rating">
        <p class="date">Review Date : {{reviewDate}}</p>
        <p class="rating">{{rating}} stars</p>
    </div>

    {{#if isLiked}}
        <button class="like-btn" data-postid="{{reviewId}}" data-liked="1">
            <img class="heart" src="/public/icon/redheart.png" alt="like">
            <label>{{likes}}</label>
        </button>
    {{else}}
        <button class="like-btn" data-postid="{{reviewId}}" data-liked="0">
            <img class="heart" src="/public/icon/heart.png" alt="like">
            <label>{{likes}}</label>
        </button>
    {{/if}}

    <div id="postDescription" class="description">
        {{#if isAuthor}}
            <form class="edit-review-container" action="/review/{{reviewId}}" method="POST" id="editReviewForm" style="display: none;">
                <div class="review-info">
                    <h3>Edit Review</h3>
                    <dl>
                        <dt><label for="edit-title">Title:</label></dt>
                        <dd><input id="edit-title" name="edit-title" placeholder="Title"></dd>
                        <dt><label for="edit-rating">Rating:</label></dt>
                        <dd><input type="number" id="edit-rating" name="edit-rating" placeholder="Rating" min="1" max="5"></dd>
                        <dt><label for="edit-content">Content:</label></dt>
                        <dd><textarea id="edit-content" name="edit-content" placeholder="Content"></textarea></dd>
                    </dl>
                </div>
                <button type="button" id="editReviewSubmit" name="editReviewSubmit" >Save Changes</button>
            </form>
            <div class="edit-delete-container">
                <button id="editForm" name="editForm" type="button">Edit</button>
                <button id="Delete" name="Delete" data-review-id="{{reviewId}}">Delete</button>
            </div>
        {{/if}}
    </div>
    <div class="comments">
        <h3>Comments</h3>
        {{#if comment}}
            {{#each comment}}
                <div class="comment" id="comment-{{this._id}}">
                    <div class="username-container">
                        <img class="user-icon" alt="user" src="/public/icon/user.png">
                        <p class="review-username"><strong>{{this.userName}}:</strong></p>
                    </div>
                        <p class="comment-content">{{this.content}}</p>
                    {{#if this.commentIsAuthor}}
                        <form class="edit-comment-info" action="/review/{{../reviewId}}/comment/{{this._id}}" method="POST" id="editCommentForm_{{@index}}" style="display: none;">
                                <dl>
                                    <dt><label for="editCommentContent_{{@index}}">Edit Comment:</label></dt>
                                    <dd><textarea id="editCommentContent_{{@index}}" name="content" placeholder="Content" data-index-id="{{@index}}"></textarea></dd>
                                </dl>
                            <button id="editCommentSubmit_{{@index}}" name="editCommentSubmit" class="editCommentSubmit" type="button" data-index-id="{{@index}}" data-review-id="{{reviewId}}" data-comment-id="{{this._id}}">Save Changes</button>
                        </form>
                        <div class="edit-delete-container">
                            <button id="editComment_{{@index}}" class="editComment" data-index-id="{{@index}}">Edit</button>
                            <button id="deleteComment_{{@index}}" class="deleteComment" data-index-id="{{@index}}" data-review-id="{{../reviewId}}" data-comment-id="{{this._id}}">Delete</button>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
        {{#if isLogin}}
        <form class="addcomment-form" action="/review/{{reviewId}}/addcomment" method="POST" id="addCommentForm">
            <div class="comment-info">
                <dl>
                    <dt><label for="commentContent" class="add-comment">Add a Comment:</label></dt>
                    <dd><textarea id="commentContent" name="commentContent" required></textarea></dd>
                </dl>
            </div>
            <button id="commentSubmit" name="commentSubmit" type="button" class="commentSubmit-btn">Submit Comment</button>
        </form>
    {{else}}
        <p class="login-comment">You must be <a href="/auth/login">logged in</a> to add comments.</p>
    {{/if}}
    </div>
    
</article>
<a href="/park/{{parkId}}" class="go-back">Go Back To Park</a>
