<main>
    <article class="post">
        <h2>{{title}}</h2>
        <p>{{reviewDate}}</p>
        <p>{{userName}}</p>
        <p>{{rating}} stars</p>

        {{#if photos}}  
            {{#each photos}}
                <img class="parkReviewImage" src="/public{{this}}" alt="Photo of Park">
            {{/each}}
        {{/if}}

        <div id="postDescription" class="description">
            <p>{{content}}</p>
            {{#if isAuthor}}
                <form action="/review/{{reviewId}}" method="POST" id="editReviewForm" style="display: none;">
                    <section class="info">
                        <dl>
                            <dt><label for="edit-title">Title:</label></dt>
                            <dd><input id="edit-title" name="edit-title" placeholder="Title"></dd>
                            <dt><label for="edit-rating">Rating:</label></dt>
                            <dd><input type="number" id="edit-rating" name="edit-rating" placeholder="Rating" min="1" max="5"></dd>
                            <dt><label for="edit-content">Content:</label></dt>
                            <dd><textarea id="edit-content" name="edit-content" placeholder="Content"></textarea></dd>
                        </dl>
                    </section>
                    <div id="review_error_message" class="error" style="display:none;"></div>
                    <button id="editReviewSubmit" name="editReviewSubmit" type="button">Save Changes</button>
                </form>
                    <button id="editForm" name="editForm" type="button">Edit</button>
                    <button id="Delete" name="Delete" data-review-id="{{reviewId}}">Delete</button>
            {{/if}}
        </div>
        <section class="comments">
            <h3>Comments</h3>
            {{#if comment}}
            {{#each comment}}
            <div class="comment">
                <p><strong>{{this.userName}}:</strong> {{this.content}}</p>
            </div>
            {{/each}}
            {{/if}}
        </section>
            <form action="/review/{{reviewId}}/addcomment" method="POST" id="addCommentForm">
                <section class="info">
                    <dl>
                        <dt>Content:</dt>
                        <dd><textarea id="content" name="content" required></textarea></dd>
                    </dl>
                </section>
                <div id="comment_error_message" class="error" style="display:none;"></div>
                <button id="commentSubmit" name="commentSubmit" type="submit" class="commentSubmit-button">Submit Comment</button>
            </form>
    </article>
</main>