{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}

<body>
<link rel="stylesheet" href="/public/css/styles.css">
</body>

<h1 class="container">{{title}}</h1>
<p class="phrase">Welcome {{userName}}, the time is now: {{currentTime}}.</p>
<p class="content">Your bio: {{bio}}, Your favorite: {{favorite}}, your personalParkPassport{{personalParkPassport}}.</p>
<div class="link">
    <a href="/auth/logout">Log out</a>
</div>

